# Python
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/
*.csv
*.xlsx

# Model files
models/

# Virtual environment
venv/

# IDE files
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Logs
*.log

# Miscellaneous
.DS_Store